
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h2>Ecco l'elenco dei giochi in database</h2>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="row">
    <div class="col-sm-6">
      <button mat-raised-button [routerLink]="['/addGame']"
      routerLinkActive="router-link-active" style="margin-bottom: 10px; margin-top: 10px;">
      Aggiungi gioco
      </button>
    </div>
    <div class="col-sm-6">
      <label name="visualizza"> Scegli la visualizzazione: </label><br>
      <span>Tabella</span> 
      <mat-slider min="1" max="2" step="1" value="1" aria-labelledby="visualizza" [value]='displayType' (change)='displayChange($event)'></mat-slider>
      <span>Lista</span>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="row" style="margin-top:15px;">
    <div class="col-12">
      <div class="table-responsive" *ngIf='displayType==1 else lista'>
      <table class="table table-striped" *ngIf='this.games'>
        <thead class="thead-dark">
          <tr>
            <th></th>
            <th>Titolo</th>
            <th>Giocatori</th>
            <th>Tempo di gioco</th>
            <th>Età</th>
            <th>Creato da:</th>
            <th>Link tdg</th>
            <th>Link BGG</th>
            <th>Prezzo</th>
            <th *ngIf='isLogged()'></th>
          </tr>
        </thead>
        <tr *ngFor='let game of this.games; let i = index'>
          <td>
            <img [src]='getImage(game)' style="height: 50px;" *ngIf='game.thumbnail'>
          </td>
          <td>{{game.title || "-"}}</td>
          <td>{{game.players || "-"}}</td>
          <td>{{game.playtime || "-"}}</td>
          <td>{{game.age || "-"}}</td>
          <td>{{game.owner || "-"}}</td>
          <td>
            <a [href]='game.link_tdg'>Link</a>
          </td>
          <td>
            <a [href]="'https://www.boardgamegeek.com/boardgame/' + game.gamebgg_id" *ngIf='game.gamebgg_id'>Link</a>
          </td>
          <td>{{game.price || "-"}}</td>
          <td  *ngIf='isLogged()'>
            <button mat-icon-button [color]="'warn'" (click)='deleteGame(game, i)' *ngIf='game.isOwner=="true"'>
              <mat-icon aria-hidden="true">close</mat-icon>
            </button>
            <button [routerLink]="['/editGame', game.id]" mat-icon-button [color]="'primary'" 
              routerLinkActive="router-link-active" *ngIf='game.canEdit=="true"'>
              <mat-icon aria-hidden="true">edit</mat-icon>
            </button>
          </td>
        </tr>
      </table>
      </div>
      <ng-template #lista>
        <mat-accordion>
          <mat-expansion-panel *ngFor='let game of this.games; let i = index'>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <img [src]='getImage(game)' style="height: 50px;" *ngIf='game.thumbnail'>
                {{game.title || '-'}}
              </mat-panel-title>
              <mat-panel-description>
                {{game.description ? game.description.slice(0,20) + '...' : ''}}
              </mat-panel-description>
            </mat-expansion-panel-header>

            Descrizione: <br>
            {{game.description || 'Non inserita'}}
            <mat-list>
              <mat-list-item>
                Giocatori: <br>
                {{game.players || 'Non inserita'}}
              </mat-list-item>
              <mat-list-item>
                Durata: <br>
                {{game.playtime || 'Non inserita'}}
              </mat-list-item>
              <mat-list-item>
                Età: <br>
                {{game.age || 'Non inserita'}}
              </mat-list-item>
              <mat-list-item>
                Prezzo: <br>
                {{game.price || 'Non inserito'}}
              </mat-list-item>
              <mat-list-item>
                Creato da: <br>
                {{game.owner || 'Non rilevato'}}
              </mat-list-item>
              <mat-list-item *ngIf='game.gamebgg_id'>
                <a [href]="'https://www.boardgamegeek.com/boardgame/' + game.gamebgg_id" *ngIf='game.gamebgg_id'>Link BoardGameGeek</a>
              </mat-list-item>
              <mat-list-item *ngIf='game.link_tdg'>
                <a [href]='game.link_tdg'>Link TanaDeiGoblin</a>
              </mat-list-item>
            </mat-list>
            <mat-action-row *ngIf='isLogged()'>
              <button mat-icon-button [color]="'warn'" (click)='deleteGame(game, i)' *ngIf='game.isOwner=="true"'>
                <mat-icon aria-hidden="true">close</mat-icon>
              </button>
              <button [routerLink]="['/editGame', game.id]" mat-icon-button [color]="'primary'" 
                routerLinkActive="router-link-active" *ngIf='game.canEdit=="true"'>
                <mat-icon aria-hidden="true">edit</mat-icon>
              </button>
            </mat-action-row>
          </mat-expansion-panel>
        </mat-accordion>
        
      </ng-template>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <span *ngIf="this.error" style="color: red;">{{error}}</span>
    </div>
  </div>
</div>