<form (ngSubmit)="onSubmit()" #loginForm="ngForm" style="margin-bottom:10px;">
  <div class="form-group">
    <label for="pass1">Vecchia password</label>
    <input type="password" class="form-control" id="oldpass" required name="oldpassword"
    [(ngModel)]="oldPassword">
  </div>
  <div class="form-group">
    <label for="pass1">Nuova password</label>
    <input type="password" class="form-control" id="pass1" required name="password" appPasswordValidator
    [(ngModel)]="password">
  </div>
  <div class="form-group">
    <label for="pass1">Conferma password</label>
    <input type="password" class="form-control" id="pass2" required name="password2" appPasswordValidator="{{password}}"
    [(ngModel)]="password2">
  </div>
  <button type="submit" class="btn btn-primary">Cambia password</button>
</form>
<div style="display: flex;align-content:center;color:red;" *ngIf="error">
  {{error}}
</div>
<div style="display: flex;align-content:center;" *ngIf="success">
  {{success}}
</div>
