<div class="topNav" [class.is-mobile]="isMediumMonitor">
  <!-- toolbar -->
  <mat-toolbar role="heading" class="toolbar">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon aria-hidden="false" aria-label="Menu">view_list</mat-icon>
    </button>
    <!-- Logo -->
    <a (click)="sidenav.close()" [routerLink]="['/']"
    routerLinkActive="router-link-active" style="height: inherit;">
      <picture style="height: inherit;">
        <source srcset="/assets/tana.png" />
        <img style="height: inherit; max-width: 100%" alt="{{ title }}: community dei Giochi Da Tavolo" />
      </picture>
    </a>
    <span style="flex: 1 1 auto;"></span>
    <!-- Buttons to be added here -->
  </mat-toolbar>

  <!-- sidenav -->

  <mat-sidenav-container [hasBackdrop]="true" class="sidenav-container" [style.marginTop.px]="isMediumMonitor ? 60 : 0">
    <mat-sidenav #sidenav position="start" role="navigation" mode="over" [fixedInViewport]="isMediumMonitor"
      fixedTopGap="60" [class.sidenav-mobile]="!isMediumMonitor">
      <div class="container-sm">
        <mat-nav-list style="border:10px;">
          <mat-action-list>
            <!-- Navbar -->
            <button class="navButton" (click)="sidenav.close()" mat-list-item [routerLink]="['/']"
              routerLinkActive="router-link-active">
              <mat-icon matListIcon aria-hidden="true">home</mat-icon><p matLine>Home</p>
            </button>
            <mat-divider></mat-divider>
            <button class="navButton" (click)="sidenav.close()" mat-list-item [routerLink]="['/visualizeGames']"
              routerLinkActive="router-link-active">
              <mat-icon matListIcon aria-hidden="true">games</mat-icon><p matLine>Visualizza giochi</p>
            </button>
            <mat-divider></mat-divider>
            <button class="navButton" (click)="sidenav.close()" mat-list-item [routerLink]="['/visualizeSections']"
              routerLinkActive="router-link-active">
              <mat-icon matListIcon aria-hidden="true">view_stream</mat-icon><p matLine>Visualizza sezioni</p>
            </button>
            <ng-container *ngIf='sections'>
              <ng-container *ngFor='let section of sections'>
                <mat-divider></mat-divider>
                  <button class="navButton" (click)="sidenav.close()" mat-list-item 
                  [routerLink]="['/section', section.id]"  routerLinkActive="router-link-active"
                  >
                    <mat-icon matListIcon aria-hidden="true">arrow_right_alt</mat-icon><p matLine>{{section.title}}</p>
                  </button>
              </ng-container>
            </ng-container>
          </mat-action-list>
          <mat-card class="loginArea">

            <ng-container *ngIf="!isLogged">
              <button mat-raised-button (click)="sidenav.close()" [routerLink]="['/login']"
                routerLinkActive="router-link-active" style="margin-bottom: 10px">
                Accedi
              </button>
              <button mat-raised-button (click)="sidenav.close()" [routerLink]="['/register']"
                routerLinkActive="router-link-active">
                Registrati
              </button>
            </ng-container>

            <ng-container *ngIf="isLogged">
              <button mat-raised-button (click)="sidenav.close(); logout()" [routerLink]="['/']"
              routerLinkActive="router-link-active" style="margin-bottom: 10px">
              Esci
              </button>
              <button mat-raised-button (click)="sidenav.close();" [routerLink]="['/changePassword']"
              routerLinkActive="router-link-active" style="margin-bottom: 10px">
              Cambia password
              </button>
              <button mat-raised-button (click)="sidenav.close();" [routerLink]="['/changeEmail']"
              routerLinkActive="router-link-active">
              Cambia email
              </button>
            </ng-container>

          </mat-card>
        </mat-nav-list>
      </div>
    </mat-sidenav>
    <mat-sidenav-content role="main">
      <div class="mainTable">
        <router-outlet></router-outlet>
      </div>
      <div class="footer">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-4" style="border-bottom: 20px;">
              <div class="container">
                <div class="row">
                  <div class="col">
                    Questo sito è stato realizzato da:
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    Alessandro Mulas
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-4" style="border-bottom: 20px;">
              <div class="container">
                <div class="row">
                  <div class="col">
                    Per eventuali segnalazioni:
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    alemulas.lavoro@gmail.com
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-4" style="border-bottom: 20px;">
              <div class="container-fluid">
                <div class="row">
                  <div class="col">
                    Quest'opera è distribuita con Licenza
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/" style="color: white">
                      Creative Commons Attribuzione <br>
                      Non commerciale <br>
                      Condividi allo stesso modo 4.0 Internazionale
                    </a>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">
                      <img alt="Licenza Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" />
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>