.topNav{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.navButton{
  display: flex;
  justify-content: center;
}

.is-mobile .toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

.sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

.sidenav-mobile{
  width: 100%;
}

.is-mobile .sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}

.loginArea {
  align-items: center;
  display: grid;
  background-color: grey;
  margin-top: 5%;
}

@media (max-width: 700px){
  .mainTable {
    margin: 2%;
    padding: 20px;
    border-radius: 5px;
    border-color: black;
    background-color: rgb(177, 177, 177);
  }
}

@media (min-width: 701px){
  .mainTable {
    margin-right: 12%;
    margin-left: 12%;
    margin-top: 5%;
    padding: 20px;
    border-radius: 5px;
    border-color: black;
    background-color: rgb(177, 177, 177);
    min-height: 60%;
  }
}

.footer {
  margin-top: 30px;
  background-color: grey;
  color: white;
  padding: 30px;
  text-align: center;
}