<ng-container *ngIf='section'>
  <h2>Stai visualizzando: {{section.title}}</h2><br>

  <label name="visualizza"> Scegli la visualizzazione: </label><br>
  <span>Tabella</span> 
  <mat-slider min="1" max="2" step="1" value="1" aria-labelledby="visualizza" [value]='isMediumMonitor==true?1:2' (change)='displayChange($event)'></mat-slider>
  <span>Lista</span>

  <mat-tab-group mat-align-tabs="center" *ngIf='userPermission && section'>
    <mat-tab label="Giochi">

      <app-game [permission]='userPermission' [section]='section' [(isMediumMonitor)]='isMediumMonitor'></app-game>

    </mat-tab>
    <mat-tab label="Custodi">
      
      <app-holders [permission]='userPermission' [section]='section' [(isMediumMonitor)]='isMediumMonitor'></app-holders>
      
    </mat-tab>
    <mat-tab label="Collaboratori" *ngIf='userPermission.canModifyPermissions || userPermission.canAddPeople || userPermission.isOwner'>

      <app-collaborators [permission]='userPermission' [section]='section' [(isMediumMonitor)]='isMediumMonitor'></app-collaborators>

    </mat-tab>
  </mat-tab-group>

</ng-container>
<ng-container  *ngIf='!section'>
  <h3>Caricamento in corso...</h3>
  <mat-progress-bar mode="indeterminate" aria-label='Ricerca in corso'></mat-progress-bar>
</ng-container>
<ng-container *ngIf='error'>
  <p style="color:red;">{{error}}</p>
</ng-container>
